<div class="row">
  <div class="container">
    <div class="col-md-12">
      <h3>All Users</h3>
      <%= link_to("Back", home_path, class: 'btn btn-primary') %>
      <%= render 'shared/logout_button' %>
    </div>
  </div>
</div>
<hr>
<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Profile Picture</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Industry</th>
      <th>Location</th>
      <th>Headline</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
